{{ define "main" }}

<body id="presentation-item">

  <header>
    <h1><a href="{{ .Site.BaseURL }}/">Mohammed Touban</a></h1>
    <a class="subhead" href="{{ .Site.BaseURL }}/presentation"><span>Presentations</span></a>
  </header>

  <div id="content-outer-container">
    <div id="content-inner-container">
      <h2>{{ .Title }}</h2>
      <p class="subtitle">
        <span>{{ .Date.Format "1 January 2006" }}<span>, <a href="{{ .Params.conferenceLink }}">{{ .Params.conference }}</a>
        <br/>
        <span class="location">{{ .Params.location }}</span>
      </p>
      <hr/>
      {{ .Content }}
      <section class="slides-container">
        <iframe class="speakerdeck" frameborder="0" src="{{ .Params.speakerdeck }}" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </section>


  </div>

</body>

{{ end }}
